@{
    ViewBag.Title = "Home Page";

  
}

<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <br />  
            <a href="#"><center><img src="https://s1.eestatic.com/2017/02/13/cocinillas/cocinillas_193495389_116293001_1706x960.jpg" width="1000" height="400" /></center></a>
            <div class="carousel-caption">
                <h1> Bienvenidos  Coffee Gourmet!!</h1>
                <p>El sorbo que te da Vida</p>
            </div>
        </div>
        <div class="item">
            <br />
            <a href="#"><center><img src="https://blog.retif.es/wp-content/uploads/sofiya-levchenko-166260.jpg" width="1000" height="400" /></center></a>
            <div class="carousel-caption">
                <h1>Una Experiencia Inigualable</h1>
                <p>Prueba nuestros deliciosos postres y bebidas </p>
            </div>
        </div>
        <div class="item">
            <br />
            <a href="#"><center><img src="https://perfectdailygrind.com/es/wp-content/uploads/sites/2/2019/11/cafe-y-pan.png" width="1000" height="400" /></center></a>
            <div class="carousel-caption">
                <h1>Te esperamos!!</h1>
                <p>No te quedes sin probrar nuestros platos unicos y deliciosos</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>